[Unit]
Description=DevSecOps Demo App (Flask)
After=network.target

[Service]
User={{ run_user }}
WorkingDirectory={{ app_dir }}
ExecStart={{ python_path }} {{ app_dir }}/app.py
Restart=always
RestartSec=5
Environment="APP_HOST=0.0.0.0" "APP_PORT={{ app_port }}"

[Install]
WantedBy=multi-user.target

